<div class="container">
  <div class="menu">
      <div class="logo">
          <img src="/Logodef.png" class="">
      </div>
      <div>
          <a href="#">Inicio</a>
          <a href="#">Restaurantes</a>
          <a href="#">Identificate</a>
          <a href="#">Tarifas</a>
      </div>
  </div>
</div>

<div class="hero">
  <div class="hero-content">
    <h1>THE TIP JAR</h1>
    <p>Porque lo bueno siempre merece mas</p>
  </div>
</div>

<div class="about-us">
  <h2>Sobre nosotros</h2>
  <p>Aquí puedes agregar la sección "Acerca de nosotros" con la información relevante sobre tu clínica o centro de estética.</p>
</div>

<div class="treatments">
  <h2>Treatments</h2>
  <p>Aquí puedes mostrar una lista de los tratamientos que ofreces, como "Faciales", "Peelings", "Microdermoabrasión", etc.</p>
</div>

<div class="conditions">
  <h2>Conditions</h2>
  <p>Aquí puedes mencionar las condiciones de la piel que tratas, como "Acné", "Rosácea", "Manchas", etc.</p>
</div>

<div>
  <footer>    
    <div>
      <a href="#">Inicio</a>
      <a href="#">Restaurantes</a>
    </div>
    <div class="footer1">
    <p>&copy; 2025 The Tip Jar</p>
    </div>
  </footer>
</div>